#bg-image {
  position: relative;
  overflow: hidden;
  background-image: url(../img/automobiles_done.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 24%;
}
#convertables {
  position: relative;
  overflow: hidden;
  background-image: url(../img/automobiles_shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 7%;
  height: 500px;
}
#paragraph {
  position: relative;
  left: 250px;
  background-color: transparent;
  width: 250px;
  height: 250px;
  top: -50px;
}

.main {
  height: auto;
  width: 100%;
  position: relative;
}

.main .background_img {
  height: 100%;
  width: 100%;
}

.main .left {
  width: 50%;
  height: 65%;
  position: absolute;
  float: left;
  left: 0px;
  top: 24%;
  padding: 5px;
}

.main .left .heading_Parrent {
  width: 77%;
  height: auto;
  margin-left: 22%;
}

.main .left h1 {
  font-size: 4vw;
  font-family: Arial;
  color: black;
  background-color: #efd708;
  margin: 0;
  text-align: center;
}

.main .left .Paragraph {
  width: 80%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.main .left .Paragraph p {
  color: black;
  margin-top: 10%;
  padding: 10px;
  text-align: left;
}

/* Right side div css */

.main .right {
  width: 30%;
  height: 50%;

  position: absolute;
  float: right;
  left: 50%;
  top: 45%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.car {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 35%;
  top: 120%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}
.car img {
  width: 100%;
  height: auto;
}

.car_new {
  width: 40%;
  height: 40%;
  position: absolute;
  left: -20%;
  top: 95%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}
.car_new img {
  width: 100%;
  height: auto;
}

.car_frame {
  position: relative;
  width: 30%;
  height: 60%;
  float: left;
  margin-top: 30%;
  background-color: transparent;
}
#car_frame_image {
  width: 100%;
  height: auto;
}

#car_frame {
  background-color: black;
}
.car_frame2 {
  width: 50%;
  height: 55%;
  position: absolute;
  float: left;
  left: 20%;
  top: 95%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  background-color: transparent;
}

.button_frame {
  width: 44%;
  height: 13%;
  position: absolute;
  left: 23.2%;
  top: 98.5%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
}

.button_frame .one {
  color: black;
  background-color: #787878;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5%;
  margin: auto;
}

.button_frame .two {
  color: black;
  background-color: #c1c1ff;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30%;
  margin: auto;
}

.button_frame .three {
  color: black;
  background-color: #dedede;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 55%;
  margin: auto;
}

.button_frame .four {
  color: black;
  background-color: #f1f27a;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 80%;
  margin: auto;
}
#blink_selector_tag {
  position: absolute;
  height: 100%;
  width: 16%;
  top: 8%;
  left: 29.8%;
  border: solid 2px black;
  border-radius: 15px 15px 15px 15px;
}
#map_div {
  position: relative;
  height: 320px;
  width: 40%;
  float: right;
  top: 110px;
  left: 285px;
  margin-top: 56.5%;
  right: -20%;
  background-color: transparent;
}
#img_map {
  width: 100%;
  height: 100%;
}
#hand_up {
  position: absolute;
  top: 50%;
  left: 35%;
}

#new_frame {
  position: relative;
  background-color: transparent;
  left: -500px;
  width: 40%;
  height: 40%;
}

#new_frame_img {
  position: relative;
  width: auto;
  height: auto;
  top: 75px;
}
* #hologram_light {
  position: relative;
  background-color: black;
  top: 720px;
  left: -230px;
}
#hologram_light_image {
  position: absolute;
  height: 150px;
  top: 200px;
  left: 150px;
}

.automobiles_text_haha {
  background-color: black;
}
#automobiles_animation_div_container {
  background-color: transparent;
}
#automobiles_animation_div {
  position: absolute;
  top: 45%;
}

@media only screen and (min-width: 1851px) and (max-width: 3000px) {
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1800px) and (max-width: 1850px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }
  #convertables {
    width: 100%;
    height: 550px;
  }
  #paragraph {
    left: 310px;
  }
  .btn_perspective {
    left: 350px;
  }
  #new_frame {
    position: relative;
    background-color: transparent;
    left: -200px;
    width: 40%;
    height: 40%;
    top: 1050px;
  }

  #new_frame_img {
    position: relative;
    width: auto;
    height: auto;
    top: 75px;
  }
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1751px) and (max-width: 1799px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }

  #convertables {
    width: 100%;
    height: 550px;
  }
  #paragraph {
    left: 310px;
  }

  #new_frame {
    top: 1050px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 200px;
    left: 130px;
  }
  #map_div {
    width: 38.5%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1701px) and (max-width: 1750px) {
  .car_new {
    width: 37%;
    height: 37%;
    position: absolute;
    left: -16%;
    top: 105%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
  }
  #convertables {
    width: 100%;
    height: 550px;
  }
  #paragraph {
    left: 310px;
  }
  #new_frame {
    top: 1050px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 200px;
    left: 130px;
  }

  #map_div {
    width: 38%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  #new_frame {
    top: 960px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #convertables {
    width: 100%;
    height: 550px;
  }
  #paragraph {
    left: 310px;
  }

  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 119px;
  }

  .car_new {
    left: -20%;
    top: 101%;
  }
  #map_div {
    width: 38.9%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1550px) and (max-width: 1599px) {
  #new_frame {
    top: 960px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 119px;
  }
  .car_new {
    left: -20%;
    top: 106%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1549px) {
  #new_frame {
    top: 940px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 110px;
    left: 119px;
  }
  .car_new {
    left: -20%;
    top: 105%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1499px) {
  #new_frame {
    top: 950px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 120px;
    left: 100px;
  }
  .car_new {
    left: -20%;
    top: 105%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1449px) {
  #new_frame {
    top: 900px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 90px;
    left: 100px;
  }
  .car_new {
    left: -20%;
    top: 105%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1399px) {
  #new_frame {
    top: 900px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 90px;
    left: 100px;
  }
  .car_new {
    left: -20%;
    top: 105%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1349px) {
  #new_frame {
    top: 870px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #convertables {
    width: 300px;
    height: 450px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 50px;
    left: 85px;
  }
  .car_new {
    left: -20%;
    top: 105%;
  }
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1299px) {
  #new_frame {
    top: 850px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #convertables {
    width: 300px;
    height: 450px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 210px;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 50px;
    left: 80px;
  }
  .car_new {
    left: -20%;
    top: 105%;
  }
  #map_div {
    width: 25%;
    left: 155px;
  }
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1249px) {
  #convertables {
    width: 300px;
    height: 440px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 200px;
  }

  #new_frame {
    top: 800px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 0px;
    left: 50px;
  }
  .car_new {
    left: -28%;
    top: 100%;
  }
  #map_div {
    width: 25%;
    left: 155px;
  }
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1150px) and (max-width: 1199px) {
  #convertables {
    width: 300px;
    height: 365px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 200px;
  }
  #new_frame {
    top: 800px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: 0px;
    left: 50px;
  }
  .car_new {
    left: -28%;
    top: 100%;
  }
  #map_div {
    width: 25%;
    left: 164px;
  }
  #automobiles_anchor_second {
    display: none;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1149px) {
  #convertables {
    width: 300px;
    height: 365px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 200px;
  }
  #new_frame {
    top: 745px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -70px;
    left: 60px;
  }
  .car_new {
    left: -28%;
    top: 100%;
  }
  #map_div {
    width: 25%;
    left: 164px;
  }
  #perspective_btn {
    left: 10px;
    top: -100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }
  #automobiles_anchor {
    font-size: 10px;
  }
  #button_automobiles {
    display: none;
  }
  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1049px) {
  #convertables {
    width: 300px;
    height: 365px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 160px;
  }
  #new_frame {
    top: 720px;
    left: -200px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -90px;
    left: 60px;
  }
  .car_new {
    left: -28%;
    top: 100%;
  }
  #map_div {
    width: 25%;
    left: 164px;
  }

  #perspective_btn {
    left: 50px;
    top: -100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }
  #automobiles_anchor {
    font-size: 10px;
  }
  #button_automobiles {
    display: none;
  }
  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 999px) {
  #convertables {
    width: 300px;
    height: 346px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 160px;
  }
  #new_frame {
    top: 673px;
    left: -183px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -142px;
    left: 60px;
  }
  .car_new {
    left: -28%;
    top: 95%;
  }
  #map_div {
    width: 25%;
    left: 164px;
  }
  #bg-image {
    padding-bottom: 27%;
  }

  #perspective_btn {
    left: 10px;
    top: -100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }
  #automobiles_anchor {
    font-size: 10px;
  }
  #button_automobiles {
    display: none;
  }
  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 949px) {
  #convertables {
    width: 300px;
    height: 324px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 150px;
    line-height: 30px;
    top: -40px;
  }
  #new_frame {
    top: 635px;
    left: -175px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -170px;
    left: 60px;
  }
  .car_new {
    left: -28%;
    top: 90%;
  }
  #map_div {
    width: 25%;
    left: 164px;
  }
  #bg-image {
    padding-bottom: 26%;
  }
  .button_frame {
    width: 43%;
    left: 34.2%;
  }
  .car_frame2 {
    left: 30%;
  }

  #perspective_btn {
    left: 10px;
    top: -100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }
  #automobiles_anchor {
    font-size: 10px;
  }
  #button_automobiles {
    display: none;
  }
  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 899px) {
  #convertables {
    width: 350px;
    height: 300px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 145px;
    margin-top: 49px;
    top: -95px;
    width: 200px;
  }
  #new_frame {
    top: 635px;
    left: -175px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -170px;
    left: 60px;
  }
  .car_new {
    left: -28%;
    top: 95%;
  }
  #map_div {
    width: 25%;
    left: 164px;
  }
  #bg-image {
    padding-bottom: 28%;
  }
  .button_frame {
    width: 43%;
    left: 34.2%;
  }
  .car_frame2 {
    left: 30%;
  }
  .button_frame .one {
    width: 38px;
    height: 38px;
  }
  .button_frame .two {
    width: 38px;
    height: 38px;
  }
  .button_frame .three {
    width: 38px;
    height: 38px;
  }
  .button_frame .four {
    width: 38px;
    height: 38px;
  }
  #perspective_btn {
    left: 10px;
    top: -145px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }
  #automobiles_anchor {
    font-size: 10px;
  }
  #button_automobiles {
    display: none;
  }
  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
  #convertables {
    width: 300px;
    height: 284px;
    background-image: url("../img/automobiles_shape300.png");
  }
  #paragraph {
    left: 122px;
    margin-top: 49px;
    top: -65px;
  }
  #new_frame {
    top: 605px;
    left: -140px;
    width: 40%;
    height: 40%;
  }
  #hologram_light_image {
    position: absolute;
    height: 150px;
    top: -195px;
    left: 70px;
  }
  .car_new {
    left: -28%;
    top: 95%;
  }
  #map_div {
    width: 25%;
    left: 164px;
  }
  #bg-image {
    padding-bottom: 28%;
  }
  .button_frame {
    width: 43%;
    left: 34.2%;
    top: 102.5%;
    height: 9%;
  }
  .car_frame2 {
    left: 30%;
    top: 100%;
  }
  .button_frame .one {
    width: 38px;
    height: 38px;
  }
  .button_frame .two {
    width: 38px;
    height: 38px;
  }
  .button_frame .three {
    width: 38px;
    height: 38px;
  }
  .button_frame .four {
    width: 38px;
    height: 38px;
  }

  #shape_button {
    line-height: 22px;
    margin-bottom: 2px;
    width: 151px;
    font-size: 13px;
  }
  #perspective_btn {
    left: 10px;
    top: -165px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height: 50px;
  }
  #automobiles_anchor {
    font-size: 10px;
  }
  #button_automobiles {
    display: none;
  }
  #automobiles_anchor_second {
    position: relative;
    left: 40px;
    top: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .learning_img {
    display: none;
  }
}
