*{
  padding: 0;
  margin: 0;
  }
.person{
  position: absolute;
  margin-top: -28%;
  margin-left: 34%;
  width: 41%;
}

  .leftShoe{

    position: absolute;
    margin-top: 73%;
    margin-left: 26%;
    width: 26%;
  }

  .rightShoe{
    position: absolute;
    margin-top: 73%;
    margin-left: 48.5%;
    width: 26%;
    
  }
  .shoeTab{
    position: absolute;
    width: 71%;
    margin-top: 15%;
    margin-left: -50%;
  }

  .blackShoe{
    position: absolute;
    width: 11%;
    margin-left: 20%;
    margin-top: 40%;
    width: 50px;
    height: 50px;
  }
  #blackShoe
  {
    width: 100%;
    height: 100%;
    margin-left: -56%;
  }
  .blueShoe{
    position: absolute;
    width: 11%;
    margin-left: 20%;
    margin-top: 51%;
    width: 50px;
    height: 50px;
  }
#blueShoe
{
width: 100%;
height: 100%;
margin-left: -56%;
}

  .yellowShoe{
    position: absolute;
    width: 11%;
    margin-left: 20%;
    margin-top: 63%;
    width: 50px;
    height: 50px;
  }
  #yellowShoe
  {
    width: 100%;
    height: 100%;
    margin-left: -56%;
  }
  .whiteShoe{
    position: absolute;
    width: 11%;
    margin-top: 77%;
    margin-left: 20%;
    width: 50px;
    height: 50px;
  }
  #whiteShoe
  {
    width: 100%;
    height:100% ;
    margin-left: -56%;
  }

  .about_us_text_footwear{
    width: 100%;
    height: 400px;
    background-color: transparent;

  }

  

  #paragraph_footwear > p
  {
    background-color: transparent;
    width: 400px;
    /* height: 250px; */
    position: absolute;
    top: 350px;
  left: 10%;
    background-color: firebrick;
    color: white;
    padding: 2rem;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1199px){
    
    #paragraph_footwear
  {
    top: 50px;
   left: 150px; 
  }  

    .person{  
      margin-top: -64%;
    height: 850px;
    }
    .leftShoe{
      margin-top: 113%;
    }
    .rightShoe {
      position: absolute;
      margin-top: 111%;
      margin-left: 50%;
      width: 26%;
  }
  .shoeTab{
  width: 73%;
    margin-top: 78%;
    
  
  }
  .whiteShoe{

    
    margin-top: 116%;
    margin-left: 12%;
  }
  .yellowShoe{

    margin-top: 104%;
  }
  .blueShoe{
    margin-top: 91%;

  }
  .blackShoe{

    margin-top: 80%;
  }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1250px){
    
    #paragraph_footwear
    {
      top: 100px;
     left: 200px; 
    }  


.person{

  position: absolute;
  margin-top: -50%;
  margin-left: 34%;
  width: 56%;
}

.leftShoe{

  position: absolute;
  margin-top: 95%;
  margin-left: 25%;
  width: 32%;
}
.rightShoe{
  position: absolute;
  margin-top: 95%;
  margin-left: 59%;
  width: 32%;
  
}  

.shoeTab {
  position: absolute;
    width: 84%;
    margin-top: 58%;
    margin-left: 8%;
}

.whiteShoe {
  position: absolute;
  width: 11%;
  margin-top: 105%;
  margin-left: 13%;
}

.yellowShoe {
  position: absolute;
  width: 11%;
  margin-left: 13%;
  margin-top: 90%;
}

.blueShoe {
  position: absolute;
  width: 11%;
  margin-left: 13%;
  margin-top: 76%;
}

.blackShoe {
  position: absolute;
  width: 11%;
  margin-left: 13%;
  margin-top: 61%;
}


}

@media only screen and (min-width: 1251px) and (max-width: 1299px){
  #paragraph_footwear
  {
    top: 100px;
   left: 200px; 
  }  

  .person{
  
    position: absolute;
    margin-top: -42%;
    margin-left: 34%;
    width: 53%;
  }
  
  .leftShoe{
  
    position: absolute;
    margin-top: 95%;
    margin-left: 23%;
    width: 32%;
  }
  .rightShoe{
    position: absolute;
    margin-top: 95%;
    margin-left: 56%;
    width: 32%;
    
  }  
  
  .shoeTab {
    position: absolute;
      width: 80%;
      margin-top: 58%;
      margin-left: 8%;
  }
  
  .whiteShoe {
    position: absolute;
    width: 11%;
    margin-top: 102%;
    margin-left: 13%;
  }
  
  .yellowShoe {
    position: absolute;
    width: 11%;
    margin-left: 13%;
    margin-top: 88%;
  }
  
  .blueShoe {
    position: absolute;
    width: 11%;
    margin-left: 13%;
    margin-top: 73%;
  }
  
  .blackShoe {
    position: absolute;
    width: 11%;
    margin-left: 13%;
    margin-top: 61%;
  }
  
  }

  
@media only screen and (min-width: 1300px) and (max-width: 1306px){
  
  #paragraph_footwear
  {
    top: 100px;
   left: 200px; 
  }  


  .person{
  position: absolute;
    margin-top: -42%;
    margin-left: 34%;
    width: 46%;
    height: 850px;
  }
  
  .leftShoe{
  
    position: absolute;
    margin-top: 95%;
    margin-left: 25%;
    width: 28%
  }
  .rightShoe{
    position: absolute;
    margin-top: 94%;
    margin-left: 53%;
    width: 28%;
    
  }  
  
  .shoeTab {
    position: absolute;
      width: 77%;
      margin-top: 55%;
      margin-left: 8%;
  }
  
  .whiteShoe {
    position: absolute;
    width: 11%;
    margin-top: 97%;
    margin-left: 13%;
  }
  
  .yellowShoe {
    position: absolute;
    width: 11%;
    margin-left: 13%;
    margin-top: 82%;
  }
  
  .blueShoe {
    position: absolute;
    width: 11%;
    margin-left: 13%;
    margin-top: 68%;
  }
  
  .blackShoe {
    position: absolute;
    width: 11%;
    margin-left: 13%;
    margin-top: 57%;
  }
  
  }

  @media only screen and (min-width: 1307px) and (max-width: 1315px){
   
    #paragraph_footwear
  {
    top: 100px;
   left: 200px; 
  }  

    .leftShoe{
    
      position: absolute;
      margin-top: 93%;
      margin-left: 25%;
      width: 28%
    }
    .rightShoe{
      position: absolute;
      margin-top: 93%;
      margin-left: 53%;
      width: 28%;
      
    }  
    
    
    }


      @media only screen and (min-width: 1316px) and (max-width: 1339px){
        
        #paragraph_footwear
        {
         left: 220px; 
        }

    .leftShoe{
      margin-top: 92%; 
    }
      
        .rightShoe{
          position: absolute;
          margin-top: 91%;
          margin-left: 53%;
          width: 28%;
          
        }  
        .shoeTab {
          position: absolute;
          width: 77%;
          margin-top: 54%;
          margin-left: 8%;
      }
        
        }

        @media only screen and (min-width: 1340px) and (max-width: 1400px){

          #paragraph_footwear
          {
           left: 169px; 
          }

          .leftShoe{
            margin-top: 90%;
             width: 26%;
             margin-left: 27%;
          }

            
              .rightShoe{
                position: absolute;
                margin-top: 89%;
                margin-left: 54%;
                width: 26%;
              }  
              .shoeTab
            {
                position: absolute;
                margin-top: 52%;
               margin-left: 6%;
               width: 75%;
            }
            .blackShoe {
              position: absolute;
              width: 11%;
              margin-left: 13%;
              margin-top: 54%;
            }
              
            .blueShoe 
            {
              position: absolute;
              width: 11%;
              margin-left: 13%;
              margin-top: 65%;
            }

          .yellowShoe 
          {
            position: absolute;
            width: 11%;
            margin-left: 13%;
            margin-top: 79%;
          }

          .whiteShoe {
            position: absolute;
            width: 11%;
            margin-top: 93%;
            margin-left: 13%;
          }
              } 
              @media only screen and (min-width:1921px) and (max-width: 1960px) 
              {
                #shoes_container
                {
                  height: 1080px;
                }
                .shoeTab
                {
                  position: absolute;
                  width: 60%;
                  margin-top: 35%;
                  margin-left: -41%;
                }
                .person{
                  position: absolute;
                    margin-top: -15%;
                   margin-left: 38%;
                   width: 34%;
                    height: 899px;
                  
                }
                .leftShoe{
                  margin-top: 79%;
                  width: 20%;
                  margin-left: 33%;
                }
                  
                    .rightShoe
                    {
                      position: absolute;
                      margin-top: 78%;
                      margin-left: 51%;
                      width: 20%;
                    }  
                    #whiteShoe {
                      width: 100%;
                      height: 100%;
                      margin-left: -12%;
                      margin-top: 128%;
                  }

                  #yellowShoe {
                    width: 100%;
                    height: 100%;
                    margin-left: -8%;
                    margin-top: 141%;
                }

                #blueShoe {
                  width: 100%;
                  height: 100%;
                  margin-left: -12%;
                  margin-top: 145%;
              }

              #blackShoe {
                width: 100%;
                height: 100%;
                margin-left: -12%;
                margin-top: 146%;
            }

                  .blackShoe 
                  {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 43%;
                  }
                    
                  .blueShoe 
                  {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 55%;
                  }
      
                .yellowShoe
                 {
                  position: absolute;
                  width: 11%;
                  margin-left: 22%;
                  margin-top: 66%;
                }
                .whiteShoe
                 {
                  position: absolute;
                  width: 11%;
                  margin-top: 76%;
                  margin-left: 22%;
                }

                

              }
              @media only screen and (min-width:1900px) and (max-width: 1920px) 
                {
                  #shoes_container
                  {
                    height: 1080px;
                  }
                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                  .person{
                    position: absolute;
                    margin-top: -30%;
                    margin-left: 38%;
                    width: 41%;
                  }
                  .leftShoe{
                     margin-top: 78%;
                     width: 20%;
                     margin-left: 34%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 77.5%;
                        margin-left: 58%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 66%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 76%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 70%;
                    margin-top: 23%;
                    margin-left: -49%;
                  }

                }

                @media only screen and (min-width:1851px) and (max-width: 1899px) 
                {
                  #shoes_container
                  {
                    height: 1080px;
                  }
                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                  .person{
                    position: absolute;
                    margin-top: -30%;
                    margin-left: 38%;
                    width: 41%;
                  }
                  .leftShoe{
                     margin-top: 78%;
                     width: 20%;
                     margin-left: 34%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 77.5%;
                        margin-left: 58%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 66%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 76%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }

                }


              @media only screen and (min-width:1800px) and (max-width: 1850px) 
                {
                  .person{
                    position: absolute;
                    margin-top: -26%;
                    margin-left: 35%;
                    width: 41%;
                  }
                  .leftShoe{
                      margin-top: 78%;
                     width: 20%;
                     margin-left: 32%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 78%;
                        margin-left: 55%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 41%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 53%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 64%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 74%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 18%;
                    margin-left: -50%;
                  }

                }

                @media only screen and (min-width:1761px) and (max-width: 1799px) 
                {
                  .person{
                    position: absolute;
                    margin-top: -23%;
                    margin-left: 35%;
                    width: 40%;
                  }
                  .leftShoe{
                      margin-top: 81.5%;
                     width: 20%;
                     margin-left: 30%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 80%;
                        margin-left: 54%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 66%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 76%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1730px) and (max-width: 1760px) 
                {
                  .person{
                    position: absolute;
                    margin-top: -23%;
                    margin-left: 35%;
                    width: 40%;
                  }
                  .leftShoe{
                      margin-top: 80%;
                     width: 20%;
                     margin-left: 31.5%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 54%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 66%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 76%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1660px) and (max-width: 1690px) 
                {
                  .person{
                    position: absolute;
                    margin-top: -23%;
                    margin-left: 34%;
                    width: 40%;
                  }
                  .leftShoe{
                    margin-top: 83%;
                     width: 20%;
                     margin-left: 30%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 80%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 66%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 76%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1590px) and (max-width: 1610px) 
                {
                  .person{
                    position: absolute;
                    margin-top: -25%;
                    margin-left: 34%;
                    width: 40%;
                  }
                  .leftShoe{
                    margin-top: 80%;
                     width: 20%;
                     margin-left: 30%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 54%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 66%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 76%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1420px) and (max-width: 1440px) 
                {
                  .person{
                    position: absolute;
                    margin-top: -25%;
                    margin-left: 35%;
                    width: 40%;
                  }
                  .leftShoe{
                    margin-top: 79%;
                     width: 20%;
                     margin-left: 31%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 55%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 66%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 76%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1390px) and (max-width: 1419px) 
                {
                  .person{
                    position: absolute;
                    margin-top: -20%;
                    margin-left: 34%;
                    width: 40%;
                  }
                  .leftShoe{
                    margin-top: 84%;
                     width: 20%;
                     margin-left: 30%;
                  }
                    
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 85%;
                        margin-left: 54%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 68%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 78%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 20%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1350px) and (max-width: 1380px) 
                {
                  #shoes_container
                  {
                    height: 1080px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -10%;
                    margin-left: 34%;
                    width: 40%;
                  }
                  .leftShoe{
                    margin-top: 95%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 94%;
                        margin-left: 54%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 60%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 70%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 83%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 95%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 35%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1300px) and (max-width: 1349px) 
                {
                  #shoes_container
                  {
                    height: 900px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -42%;
                    margin-left: 34%;
                    width: 40%;
                  }
                  .leftShoe{
                    margin-top: 95%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 94%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 60%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 70%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 83%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 95%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 35%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1200px) and (max-width: 1299px) 
                {
                  #paragraph_footwear
                  {
                    top: 50px;
                    left: 170px; 
                  }  

                  #shoes_container
                  {
                    height: 900px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -10%;
                    margin-left: 34%;
                    width: 40%;
                  }
                  .leftShoe{
                    margin-top: 95%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 94%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 60%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 70%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 83%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 95%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 35%;
                    margin-left: -50%;
                  }
                }
               
                @media only screen and (min-width:1121px) and (max-width: 1150px) 
                {

                  #paragraph_footwear
                  {
                    top: 50px;
                    left: 160px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -40%;
                    margin-left: 34%;
                    width: 40%;
                    height: 650px;
                  }
                  .leftShoe{
                    margin-top: 80%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 43%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 55%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 67%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 80%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                } 
                @media only screen and (min-width:1100px) and (max-width: 1120px) 
                {
                  #paragraph_footwear
                  {
                    top: 50px;
                    left: 150px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -43%;
                    margin-left: 34%;
                    width: 40%;
                    height: 650px;
                  }
                  .leftShoe{
                    margin-top: 80%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 44%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 56%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 68%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 81%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1071px) and (max-width: 1099px) 
                {
                  #paragraph_footwear
                  {
                    top: 50px;
                    left: 150px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -25%;
                    margin-left: 34%;
                    width: 40%;
                    height: 550px;
                  }
                  .leftShoe{
                    margin-top: 80%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1050px) and (max-width: 1070px) 
                {
                  #paragraph_footwear
                  {
                    top:40px;
                    left: 150px; 
                  }  
                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -28%;
                    margin-left: 34%;
                    width: 40%;
                    height: 550px;
                  }
                  .leftShoe{
                    margin-top: 80%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:1000px) and (max-width: 1049px) 
                {

                  #paragraph_footwear
                  {
                    top:40px;
                    left: 150px; 
                  }  
                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -30%;
                    margin-left: 34%;
                    width: 40%;
                    height: 550px;
                  }
                  .leftShoe{
                    margin-top: 85%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 84%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 46%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 58%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 70%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 83%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:936px) and (max-width: 965px) 
                {
                  #paragraph_footwear
                  {
                    top: 50px;
                    left: 160px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -20%;
                    margin-left: 34%;
                    width: 40%;
                    height: 550px;
                  }
                  .leftShoe{
                    margin-top: 80%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 79%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 44%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 56%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 68%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 81%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }
                @media only screen and (min-width:900px) and (max-width: 935px) 
                {
                  #paragraph_footwear
                  {
                    top: 50px;
                    left: 160px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -23.5%;
                    margin-left: 34%;
                    width: 40%;
                    height: 550px;
                  }
                  .leftShoe{
                    margin-top: 81%;
                     width: 20%;
                     margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 80%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                      
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }

                
                
                @media only screen and (min-width:885px) and (max-width: 899px) 
                {
                  #paragraph_footwear
                  {
                    top: 40px;
                    left: 150px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -44.5%;
                    margin-left: 34%;
                    width: 40%;
                    height: 654px;
                  }
                  .leftShoe{
                    margin-top: 84.5%;
                    width: 20%;
                      margin-left: 30%;
                }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 83.5%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                    #blackShoe {
                      margin-top: 81%;
                    }
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }
                
                
                
                @media only screen and (min-width:855px) and (max-width: 884px) 
                {
                  #paragraph_footwear
                  {
                    top: 40px;
                    left: 150px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -44.5%;
                    margin-left: 34%;
                    width: 40%;
                    height: 654px;
                  }
                  .leftShoe{
                    margin-top: 88.5%;
                    width: 20%;
                    margin-left: 31%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 87.5%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                    #blackShoe {
                      margin-top: 81%;
                    }
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }
                
                @media only screen and (min-width:831px) and (max-width: 854px) 
                {
                  #paragraph_footwear
                  {
                    top: 40px;
                    left: 140px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -44.5%;
                    margin-left: 34%;
                    width: 40%;
                    height: 636px;
                  }
                  .leftShoe{
                    margin-top: 88.5%;
                    width: 20%;
                    margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 87.5%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                    #blackShoe {
                      margin-top: 81%;
                    }
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }




                @media only screen and (min-width:800px) and (max-width: 830px) 
                {

                  #paragraph_footwear
                  {
                    top: 40px;
                    left: 140px; 
                  }  

                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -44.5%;
                    margin-left: 34%;
                    width: 40%;
                    height: 615px;
                  }
                  .leftShoe{
                    margin-top: 88.5%;
                    width: 20%;
                    margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 87.5%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                    #blackShoe {
                      margin-top: 81%;
                    }
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }

                
                @media only screen and (min-width:768px) and (max-width: 799px) 
                {

                  #paragraph_footwear
                  {
                    top: 60px;
                   left: 180px; 
                  }  

                  .about_us_text_footwear {
                    width: 450px;
                    height: 400px;
                    background-color: transparent;
                }
                  
                  
                  
                  
                  
                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -44.5%;
                    margin-left: 34%;
                    width: 40%;
                    height: 591px;
                  }
                  .leftShoe{
                    margin-top: 88.5%;
                    width: 20%;
                    margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 87.5%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                    #blackShoe {
                      margin-top: 81%;
                    }
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }

                
                
                @media only screen and (min-width:600px) and (max-width: 767px) 
                {
                  .about_us_text_footwear {
                    width: 450px;
                    height: 400px;
                    background-color: transparent;
                }
                  
                  
                  
                  
                  
                  #shoes_container
                  {
                    height: 700px;
                  }
                  .person{
                    position: absolute;
                    margin-top: -44.5%;
                    margin-left: 34%;
                    width: 40%;
                    height: 591px;
                  }
                  .leftShoe{
                    margin-top: 88.5%;
                    width: 20%;
                    margin-left: 30%;
                  }
                  
                      .rightShoe
                      {
                        position: absolute;
                        margin-top: 87.5%;
                        margin-left: 53%;
                        width: 20%;
                      }  

                    .blackShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 45%;
                    }
                    #blackShoe {
                      margin-top: 81%;
                    }
                    .blueShoe 
                    {
                      position: absolute;
                      width: 11%;
                      margin-left: 22%;
                      margin-top: 57%;
                    }
        
                  .yellowShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-left: 22%;
                    margin-top: 69%;
                  }
                  .whiteShoe
                   {
                    position: absolute;
                    width: 11%;
                    margin-top: 82%;
                    margin-left: 22%;
                  }

                  .shoeTab
                  {
                    position: absolute;
                    width: 71%;
                    margin-top: 15%;
                    margin-left: -50%;
                  }
                }


                
