#pointing_hand
{
    position: absolute;
    top: 300px;
    left: 250px;
}

.about_us_text_cosmetic
{
    background-image: url(../img/nails_shape.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    background-color: transparent;
}
#paragraph_cosmetics
{
position: relative;
width: 50%;
top: 60px;
left: 210px;
}

.tab {
    position: absolute;
    margin-top: -25%;
    left: 19%;
    width: 60%;
}

.hand {
    position: absolute;
    right: 80%;
    margin-top: -10%;
    width: 90%;
}
.btn_perspective
{
    position: relative;
    top: 0px;
    left: 140px;

}

.slider1 {
    position: absolute;
    left: 30.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

.slider2 {
    position: absolute;
    left: 40.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;


}

.slider3 {
    position: absolute;
    left: 50.4%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

.slider4 {
    position: absolute;
    left: 60%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}


@media only screen and (min-width:1451px) and (max-width: 1550px)
{
    #pointing_hand
        {
            top: 280px;
            left: 280px;
        }
}

@media only screen and (min-width:1351px) and (max-width: 1450px)
{
    #pointing_hand
        {
            top: 280px;
            left: 280px;
        }
}

@media only screen and (min-width:1251px) and (max-width: 1350px)

{
    #pointing_hand
        {
            top: 280px;
            left: 280px;
        }
}
@media only screen and (min-width:1151px) and (max-width: 1250px)
{
    .about_us_text_cosmetic
    {
        position: relative;
        left: -50px;
    }
    #pointing_hand
        {
            top: 220px;
            left: 220px;
        }
}

@media only screen and (min-width:1051px) and (max-width: 1150px)
{
    .about_us_text_cosmetic
    {
        position: relative;
        left: -75px;
        width: 500px;
        height: 450px;
    }
       
  #perspective_btn_cosmetic {
    left: 205px;
    top: -125px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #automobiles_anchor
  {
    font-size: 10px;
  }
 #button_automobiles
 {
   display: none;
 }
 #automobiles_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 200px;
     left: 200px;
 }
}
@media only screen and (min-width:951px) and (max-width: 1050px)
{
    .about_us_text_cosmetic
    {
        top: 100px;
        background-image: url(/img/nail_shape_300.png);
        position: relative;
        left: 50px;
    }
    #paragraph_cosmetics
    {
        left: 150px;
    }
    
  #perspective_btn_cosmetic {
    left: 205px;
    top: -100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #automobiles_anchor
  {
    font-size: 10px;
  }
 #button_automobiles
 {
   display: none;
 }
 #automobiles_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 200px;
     left: 200px;
 }

}
@media only screen and (min-width:851px) and (max-width: 950px)
{
    .about_us_text_cosmetic
    {
        top: 100px;
        background-image: url(/img/nail_shape_300.png);
        position: relative;
        left: 50px;
    }
    #paragraph_cosmetics
    {
        left: 140px;
    }
    
  #perspective_btn_cosmetic {
    left: 205px;
    top: -100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #automobiles_anchor
  {
    font-size: 10px;
  }
 #button_automobiles
 {
   display: none;
 }
 #automobiles_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 150px;
     left: 150px;
 }

}
@media only screen and (min-width:768px) and (max-width: 850px)
{
    .about_us_text_cosmetic
    {
        top: 100px;
        background-image: url(/img/nail_shape_300.png);
        position: relative;
        left: 0px;
    }
    #paragraph_cosmetics
    {
        left: 138px;
    }
    
  #perspective_btn_cosmetic {
    left: 205px;
    top: -100px;
    background: #861a61;
    transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;
    outline: 1px solid transparent;
    width: 150px;
    height:50px
  }
  #automobiles_anchor
  {
    font-size: 10px;
  }
 #button_automobiles
 {
   display: none;
 }
 #automobiles_anchor_second
 {
   position: relative;
   left: 40px;
   top: 8px;
 }
 #pointing_hand
 {
     top: 150px;
     left: 150px;
 }

}