
  #ocrloader {
    width: 94px;
    height: 77px;
    top: -100px;
    transform: translate(-50%,-50%);
    backface-visibility: hidden;
  }
    #ocr_reader_span {
      position: absolute;
      left: 100px;
      width: 100%;
      top: -100px;
      height: 20px;
      background-color: rgba(45, 183, 183, 0.54);
      z-index: 1;
      transform: translateY(135%);
      animation: move 0.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
      animation-iteration-count: infinite;
    }
     #ocr_div_inner {
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 48%;
      backface-visibility: hidden;
    }
    i {
      display: block;
      height: 1px;
      background: #000;
      margin: 0 auto 2px;
      margin: 0 auto 2.2px;
      backface-visibility: hidden;
      &:nth-child(2) { width: 75%; }
      &:nth-child(3) { width: 81%; }
      &:nth-child(4) { width: 87%; }
      &:nth-child(6) { width: 71%; }
      &:nth-child(7) { width: 81%; }
      &:nth-child(8) { width: 65%; }
      &:nth-child(9) { width: 83%; }
      &:nth-child(10) { width: 75%; }
      &:nth-child(12) { width: 86%; }
      &:nth-child(14) { width: 65%; }
      &:nth-child(16) { width: 75%; }
      &:nth-child(18) { width: 83%; }
    }
    &:before,  &:after, em:after, em:before {
      border-color: #000;
      content: "";
      position: absolute;
      width: 19px;
      height: 16px;
      border-style: solid;
      border-width: 0px;
    }
    &:before {
      left: 0;
      top: 0;
      border-left-width: 1px;
      border-top-width: 1px;
    }
    &:after {
      right: 0;
      top: 0;
      border-right-width: 1px;
      border-top-width: 1px;
    }
    #em_ocr:before {
      left: 0;
      bottom: 0;
      border-left-width: 1px;
      border-bottom-width: 1px;
    }
    #em_ocr:after {
      right: 0;
      bottom: 0;
      border-right-width: 1px;
      border-bottom-width: 1px;
    }
  
  @keyframes move {
    0%, 100% { transform: translateY(135%); }
    50% { transform: translateY(0%); }
    75% { transform: translateY(272%); }
  }

  /*Second Scanner Css*/

  
  #ocrloader_new {
    position: absolute;
    width: 94px;
    height: 77px;
    left: 50px;
    transform: translate(-50%,-50%);
    backface-visibility: hidden;
  }
    #ocr_reader_span_new {
      position: absolute;
      left: 350px;
      top: 500px;
      width: 100%;
      height: 20px;
      background-color: rgba(45, 183, 183, 0.54);
      z-index: 1;
      transform: translateY(135%);
      animation: move 0.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
      animation-iteration-count: infinite;
    }
     #ocr_div_inner_new {
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 48%;
      backface-visibility: hidden;
    }
    i {
      display: block;
      height: 1px;
      background: #000;
      margin: 0 auto 2px;
      margin: 0 auto 2.2px;
      backface-visibility: hidden;
      &:nth-child(2) { width: 75%; }
      &:nth-child(3) { width: 81%; }
      &:nth-child(4) { width: 87%; }
      &:nth-child(6) { width: 71%; }
      &:nth-child(7) { width: 81%; }
      &:nth-child(8) { width: 65%; }
      &:nth-child(9) { width: 83%; }
      &:nth-child(10) { width: 75%; }
      &:nth-child(12) { width: 86%; }
      &:nth-child(14) { width: 65%; }
      &:nth-child(16) { width: 75%; }
      &:nth-child(18) { width: 83%; }
    }
    &:before,  &:after, em:after, em:before {
      border-color: #000;
      content: "";
      position: absolute;
      width: 19px;
      height: 16px;
      border-style: solid;
      border-width: 0px;
    }
    &:before {
      left: 0;
      top: 0;
      border-left-width: 1px;
      border-top-width: 1px;
    }
    &:after {
      right: 0;
      top: 0;
      border-right-width: 1px;
      border-top-width: 1px;
    }
    #em_ocr:before {
      left: 0;
      bottom: 0;
      border-left-width: 1px;
      border-bottom-width: 1px;
    }
    #em_ocr:after {
      right: 0;
      bottom: 0;
      border-right-width: 1px;
      border-bottom-width: 1px;
    }
  
  @keyframes move {
    0%, 100% { transform: translateY(135%); }
    50% { transform: translateY(0%); }
    75% { transform: translateY(272%); }
  }


  @media only screen and (min-width: 1200px) and (max-width: 1250px)
  {
    #ocr_reader_span_new
        {
          left: 250px;
        }
  }

  @media only screen and (min-width: 1000px) and (max-width: 1150px)
  {
    #ocr_reader_span_new
        {
          left: 250px;
          top: 400px;
        }
  }
  @media only screen and (min-width:900px) and (max-width: 999px) 
  {
    #ocr_reader_span_new
        {
          left: 250px;
          top: 400px;
        }
  }