#tablet_image_span {
    position: absolute;
    margin-top: 20%;
    left: -20%;
    width:50%;
    height:300%;
}

#shoe3 {
    position: absolute;
    margin-top:72%;
    margin-left: 33%;
    width: 20%;
    border-radius: 10px 10px 10px 10px;
}
#shoe4
{
    position: relative;
    top: 530px;
    left: 395px;
    width: 20%;
    height: 30%;
}
.pointing_hand_shoes
{
  position: absolute;
  left: 180px;
  top: -190px;
}
#selector_div_shoes {
    position: absolute;
    height: 10.5%;
    width: 11%;
    top: 25%;
    left: 5%;
    border: 3px solid #464646;
}

#color_black {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 15%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}

#color_green {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 33%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}

#color_blue {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 52%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}

#color_brown {
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 10%;
    top: 71%;
    left: 10%;
    border-radius: 10px 10px 10px 10px;
}




 @media only screen and (min-width: 320px) and (max-width: 420px) {
 

  #shoes_container{
    height: 750px;
     background-image: url(../img/footwear_background.png) ; 
    
    }
   
    #paragraph_footwear pre{
     
      position: absolute;
      margin-left: 14%;
      margin-top: -54%;
      font-size: 11px;
      font-family: sans-serif;
      padding: 5%;
      
  
      
    }
    #button_shoe{
      margin-top: -21%;
    margin-left: 40%;
    position: absolute;
    padding: 20px;
    }
  

    #person{

      display: block !important;
    width: 35%;
    margin-top: -13%;
    margin-left: 61%;
    
    }
    #image_tablet{
      width: 97%;
    margin-left: 132%;
    margin-top: -151%;
    
    
    }    

    #shoe3 {
      position: absolute;
    margin-top: -18%;
    margin-left: 54.5%;
    width: 15%;
    height: 19%;
  }
    #shoe4
    {
      position: absolute;
      top: 81%;
      left: 76%;
      width: 15%;
      height: 19%;
  }

  #color_black{
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -19.6%;
    left: 140%;
    border-radius: 10px 10px 10px 10px;
}

#color_green {

  position: absolute;
  background-color: transparent;
  height: 5%;
  width: 7%;
  top: -17%;
  left: 140%;
  border-radius: 10px 10px 10px 10px;
}

#color_blue{
  position: absolute;
  background-color: transparent;
  height: 5%;
  width: 7%;
  top: -14.3%;
  left: 140%;
  border-radius: 10px 10px 10px 10px;
}
#color_brown {
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -10.5%;
  left: 140%;
  border-radius: 10px 10px 10px 10px;
 }



 .pointing_hand_shoes
{
  position: absolute;
  left: 180px;
  top: -190px;
}

 }




 @media only screen and (min-width: 421px) and (max-width: 500px) {
 

  #shoes_container{
    height: 750px;
     background-image: url(../img/footwear_background.png) ; 
    
    }
   
    #paragraph_footwear pre{
     
      position: absolute;
      margin-left: 23%;
      margin-top: -43%;
      font-size: 11px;
      font-family: sans-serif;
      padding: 5%;
      
  
      
    }
    #button_shoe{
      margin-top: -20%;
      margin-left: 62%;
      position: absolute;
      padding: 20px;
    }
  

    #person{

      display: block !important;
      width: 35%;
      margin-top: -13%;
      margin-left: 61%;
    }
    #image_tablet{
      width: 97%;
    margin-left: 132%;
    margin-top: -151%;
    
    
    }    

    #shoe3 {
      position: absolute;
    margin-top: -18%;
    margin-left: 54.5%;
    width: 15%;
    height: 19%;
  }
    #shoe4
    {
      position: absolute;
      top: 81%;
      left: 76%;
      width: 15%;
      height: 19%;
  }

  #color_black{
  
    position: absolute;
    background-color: transparent;
    height: 4%;
    width: 7%;
    top: -19.6%;
    left: 140%;
    border-radius: 10px 10px 10px 10px;
}

#color_green {

  position: absolute;
  background-color: transparent;
  height: 5%;
  width: 7%;
  top: -17%;
  left: 140%;
  border-radius: 10px 10px 10px 10px;
}

#color_blue{
  position: absolute;
  background-color: transparent;
  height: 5%;
  width: 7%;
  top: -14.3%;
  left: 140%;
  border-radius: 10px 10px 10px 10px;
}
#color_brown {
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -10.5%;
  left: 140%;
  border-radius: 10px 10px 10px 10px;
 }

 .pointing_hand_shoes
{
  position: absolute;
  left: 180px;
  top: -190px;
}

 }

@media only screen and (min-width: 501px) and (max-width: 767px){



#shoes_container{
height: 720px;
 background-image: url(../img/bg_nail.png) ; 

}


#paragraph_footwear pre{
  position: absolute;
  margin-left: 21%;
  margin-top: -39%;
  font-size: 11px;
  font-family: sans-serif;
  padding: 5%;
  

  
}
#button_shoe{
  margin-top: -17%;
  margin-left: 55%;
  position: absolute;
}


#image_tablet{
  width: 84%;
  margin-left: 128%;
  margin-top: -123%;


}
#person{

  display: block !important;
    width: 25%;
    margin-top: -8%;
    margin-left: 60.5%;
}

#color_black{
  
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -21%;
  left: 135%;
  border-radius: 10px 10px 10px 10px;
}

#color_green {

  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -18%;
  left: 134%;
  border-radius: 10px 10px 10px 10px;
}

#color_blue{
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -15.4%;
  left: 135%;
  border-radius: 10px 10px 10px 10px;
}
#color_brown {
  position: absolute;
  background-color: transparent;
  height: 4%;
  width: 7%;
  top: -11.5%;
  left: 135%;
  border-radius: 10px 10px 10px 10px;
}

 #shoe3 {
  position: absolute;
  margin-top: -14%;
  margin-left: 55.5%;
  width: 12%;
  height: 23%;
}
#shoe4
{
 position: absolute;
  top: 80%;
  left: 72%;
  width: 11%;
  height: 23%;
}

.pointing_hand_shoes
{
  position: absolute;
  left: 280px;
  top: -200px;
}

}
