#pointing_hand
{
    position: absolute;
    left: 30%;
    top: 80px;
}

.tab {
    position: absolute;
    margin-top: -25%;
    left: 19%;
    width: 60%;
}

.hand {
    position: absolute;
    right: -28%;
    margin-top: -10%;
    width: 90%;
}

.slider1 {
    position: absolute;
    left: 30.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

.slider2 {
    position: absolute;
    left: 40.5%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;


}

.slider3 {
    position: absolute;
    left: 50.4%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

.slider4 {
    position: absolute;
    left: 60%;
    margin-top: 36%;
    border: solid 1px transparent;
    width: 8%;
    height: 60px;

}

@media only screen and (min-width: 320px) and (max-width: 420px) {
   
    #cosmatics_container{
        height: 720px;
    
    
      }
      .nailShape{
        
        margin-top: -14%;
      }

      #paragraph_cosmetics pre{
        position: absolute;
        margin-left: 18%;
        margin-top: -57%;
        font-size: 11px;
        font-family: sans-serif;
        padding: 5%;
      
    }

    #button_cosmeticss{
        margin-top: -17%;
  margin-left: 48%;
  position: absolute;
padding: 20px;    
}

    .tab {

        margin-top: -38%;
        left: 18%;
        width: 52%;
        padding-top: 1.7%;

    }
    
    .hand {
        margin-right: 65%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {

        left: 27.5%;
    height: 40px;
    width: 7.5%;
    margin-top: 15%;
    }

    .slider2 {

        left: 36%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }

    .slider3 {
        left: 44.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;

    }

    .slider4 {
        left: 53.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
    }
}



@media only screen and (min-width: 421px) and (max-width: 499px) {
   
    #cosmatics_container{
        height: 720px;
    
    
      }
      #paragraph_cosmetics pre{
        position: absolute;
    margin-left: 21%;
    margin-top: -49%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
      
    }

    #button_cosmeticss{
        margin-top: -17%;
  margin-left: 48%;
  position: absolute;
padding: 20px;    
}

    .tab {

        margin-top: -38%;
        left: 18%;
        width: 52%;
        padding-top: 1.7%;

        

    }
    .nailShape{
        margin-top: -14%;
    }

    .hand {
        margin-right: 65%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {

        left: 27.5%;
    height: 40px;
    width: 7.5%;
    margin-top: 15%;
    }

    .slider2 {

        left: 36%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }

    .slider3 {
        left: 44.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;

    }

    .slider4 {
        left: 53.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
   
    #cosmatics_container{
        height: 700px;
    
    
      }
      #paragraph_cosmetics pre{
        position: absolute;
        margin-left: 27%;
        margin-top: -43%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
      
    }

    #button_cosmeticss{
        margin-top: -17%;
  margin-left: 48%;
  position: absolute;
padding: 20px;    
}

    .tab {

        margin-top: -38%;
        left: 18%;
        width: 52%;
        padding-top: 1.7%;

    }
    .nailShape{
        margin-top: -14%;
    }

    .hand {
        margin-right: 65%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {

        left: 27.5%;
    height: 40px;
    width: 7.5%;
    margin-top: 15%;
    }

    .slider2 {

        left: 36%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }

    .slider3 {
        left: 44.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;

    }

    .slider4 {
        left: 53.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {
   
    #cosmatics_container{
        height: 720px;
    
    
      }
      #paragraph_cosmetics pre{
        position: absolute;
        margin-left: 27%;
        margin-top: -43%;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5%;
      
    }

    #button_cosmeticss{
        margin-top: -17%;
  margin-left: 48%;
  position: absolute;
padding: 20px;    
}

    .tab {

        margin-top: -38%;
        left: 18%;
        width: 52%;
        padding-top: 1.7%;

    }

    .hand {
        margin-right: 65%;
        margin-top: -22%;
        width: 74%;
    }

    .slider1 {

        left: 27.5%;
    height: 40px;
    width: 7.5%;
    margin-top: 15%;
    }

    .slider2 {

        left: 36%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }

    .slider3 {
        left: 44.5%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;

    }

    .slider4 {
        left: 53.2%;
        height: 40px;
        width: 7.5%;
        margin-top: 15%;
    }
    #pointing_hand
    {
        position: absolute;
        left: 30%;
        top: 80px;
    }
}
